*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightgray;

}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row-reverse; 
}

#description{
    padding: 3rem;
}

h2{
    font-size: 3rem;
    margin-bottom: 2rem;
}

h3{
    margin-bottom: 1rem;
}

p{
    margin-bottom: 1rem;
    text-align: justify;
    text-justify: inter-word;
}