*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #d3d3d3;

}

#p5stuff{
    display: inline;
}
main{
    width: 100%;
    padding: 1rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column; 
}


h2{
    margin-bottom: 1rem;
}

h3{
    margin-bottom: 1rem;
}

p{
    margin-bottom: 1rem;
    text-align: justify;
    text-justify: inter-word;
}

.closeBtn{
    color: white;
    width: 20px;
    height: 20px;
    background-color: rgb(235, 132, 15);
    outline: none;
    border-radius: 2px;
    border: none;
}